/* FLOATS */

.float-right {
  clear:right;
  float: right;
  margin: 0 0 20px 20px;
  width:40%;
}
.float-left {
  clear: left;
  float: left;
  margin: 0 20px 20px 0;
  width:40%;
}


/* BACK TO TOP */
.backtotop {
  border-top:1px solid #e5e5e5;
  clear:both;
  
  font-size: 11px;
  position: relative;
}
.backtotop a {
  background-color: #fff;
  border:1px solid #e5e5e5;
  display: block;
  line-height: 21px;
  padding:0 6px;
  position: absolute;
  right:0;
  top:-12px;
}
/* BOXES */
.cu-box {
  padding: 0 !important;
  overflow: hidden;
  margin-bottom:1.5em;
}
.box-content {
  padding:10px;
}
.box-title {
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: -ms-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#333333', EndColorStr='#111111');
  color:#fff;
  padding:5px 10px;
  font-size: 110%;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.box-blue {
  color:#fff !important;
  padding:0px;
  margin-bottom:1.5em;
  background-color: #0072bc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #0072bc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0072bc), to(#00538b));
  background-image: -webkit-linear-gradient(top, #0072bc, #00538b);
  background-image: -moz-linear-gradient(top, #0072bc, #00538b);
  background-image: -o-linear-gradient(top, #0072bc, #00538b);
  background-image: -ms-linear-gradient(top, #0072bc, #00538b);
  background-image: linear-gradient(top, #0072bc, #00538b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0072bc', EndColorStr='#00538b');
}

.box-orange {
  background-color: #faa200;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#faa200), to(#f18000));
  background-image: -webkit-linear-gradient(top, #faa200, #f18000);
  background-image: -moz-linear-gradient(top, #faa200, #f18000);
  background-image: -o-linear-gradient(top, #faa200, #f18000);
  background-image: -ms-linear-gradient(top, #faa200, #f18000);
  background-image: linear-gradient(top, #faa200, #f18000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#faa200', EndColorStr='#f18000');
  color: #fff !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0px;
 }

.box-green {
  color:#fff !important;
  padding:0px;
  margin-bottom:1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #76b94d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#76b94d), to(#14881f));
  background-image: -webkit-linear-gradient(top, #76b94d, #14881f);
  background-image: -moz-linear-gradient(top, #76b94d, #14881f);
  background-image: -o-linear-gradient(top, #76b94d, #14881f);
  background-image: -ms-linear-gradient(top, #76b94d, #14881f);
  background-image: linear-gradient(top, #76b94d, #14881f);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#76b94d', EndColorStr='#14881f');
}

.box-red {
  color:#fff !important;
  padding:0px;
  margin-bottom:1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #bf3d2d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bf3d2d), to(#8d1a16));
  background-image: -webkit-linear-gradient(top, #bf3d2d, #8d1a16);
  background-image: -moz-linear-gradient(top, #bf3d2d, #8d1a16);
  background-image: -o-linear-gradient(top, #bf3d2d, #8d1a16);
  background-image: -ms-linear-gradient(top, #bf3d2d, #8d1a16);
  background-image: linear-gradient(top, #bf3d2d, #8d1a16);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#bf3d2d', EndColorStr='#8d1a16');
}

.box-black {
  color:#fff !important;
  padding:0px;
  margin-bottom:1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#111111));
  background-image: -webkit-linear-gradient(top, #333333, #111111);
  background-image: -moz-linear-gradient(top, #333333, #111111);
  background-image: -o-linear-gradient(top, #333333, #111111);
  background-image: -ms-linear-gradient(top, #333333, #111111);
  background-image: linear-gradient(top, #333333, #111111);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#333333', EndColorStr='#111111');
}

.box-blue a,
.box-orange a,
.box-green a,
.box-red a,
.box-black a {
  color:#fff;
  border-bottom: 1px dotted #fff;
}

.box-grey {
  color:#363636 !important;
  padding:0px;
  margin-bottom:1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #f0f0f0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#cccccc));
  background-image: -webkit-linear-gradient(top, #f0f0f0, #cccccc);
  background-image: -moz-linear-gradient(top, #f0f0f0, #cccccc);
  background-image: -o-linear-gradient(top, #f0f0f0, #cccccc);
  background-image: -ms-linear-gradient(top, #f0f0f0, #cccccc);
  background-image: linear-gradient(top, #f0f0f0, #cccccc);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f0f0f0', EndColorStr='#cccccc');

}
.box-white {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#efefef));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -moz-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -o-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -ms-linear-gradient(top, #f7f7f7, #efefef);
  background-image: linear-gradient(top, #f7f7f7, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f7f7', EndColorStr='#efefef');
  color: #363636 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0px;
  border:1px solid #e0e0e0;
}
.box-purple {
  color:#fff !important;
  padding:0px;
  margin-bottom:1.5em;
  background-color: #8a4dc7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #8a4dc7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8a4dc7), to(#4d2d7a));
  background-image: -webkit-linear-gradient(top, #8a4dc7, #4d2d7a);
  background-image: -moz-linear-gradient(top, #8a4dc7, #4d2d7a);
  background-image: -o-linear-gradient(top, #8a4dc7, #4d2d7a);
  background-image: -ms-linear-gradient(top, #8a4dc7, #4d2d7a);
  background-image: linear-gradient(top, #8a4dc7, #4d2d7a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#8a4dc7', EndColorStr='#4d2d7a');

}



/* BUTTON */
.button-small {
  font-size: 100%;
}
.button-large {
  font-size: 120%;
}
body a.button, body a.button-blue {
  background-color: #0072bc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(0, 114, 188)), to(rgb(0, 82, 139)));
  background-image: -webkit-linear-gradient(top, rgb(0, 114, 188), rgb(0, 82, 139));
  background-image: -moz-linear-gradient(top, rgb(0, 114, 188), rgb(0, 82, 139));
  background-image: -o-linear-gradient(top, rgb(0, 114, 188), rgb(0, 82, 139));
  background-image: -ms-linear-gradient(top, rgb(0, 114, 188), rgb(0, 82, 139));
  background-image: linear-gradient(top, rgb(0, 114, 188), rgb(0, 82, 139));
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#0072bc', EndColorStr='#00528b');
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
  border:1px solid rgb(0, 82, 139);
}

body a.button-orange {
  background-color: #faa200;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#faa200), to(#f18000));
  background-image: -webkit-linear-gradient(top, #faa200, #f18000);
  background-image: -moz-linear-gradient(top, #faa200, #f18000);
  background-image: -o-linear-gradient(top, #faa200, #f18000);
  background-image: -ms-linear-gradient(top, #faa200, #f18000);
  background-image: linear-gradient(top, #faa200, #f18000);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#faa200', EndColorStr='#f18000');
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
  border:1px solid #f18000;
}

body a.button-red {
  background-color: #e8281b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e8281b), to(#b01e11));
  background-image: -webkit-linear-gradient(top, #e8281b, #b01e11);
  background-image: -moz-linear-gradient(top, #e8281b, #b01e11);
  background-image: -o-linear-gradient(top, #e8281b, #b01e11);
  background-image: -ms-linear-gradient(top, #e8281b, #b01e11);
  background-image: linear-gradient(top, #e8281b, #b01e11);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#e8281b', EndColorStr='#b01e11');
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
  border:1px solid #b01e11;
}

body a.button-green {
  background-color: #7db317;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7db317), to(#527b00));
  background-image: -webkit-linear-gradient(top, #7db317, #527b00);
  background-image: -moz-linear-gradient(top, #7db317, #527b00);
  background-image: -o-linear-gradient(top, #7db317, #527b00);
  background-image: -ms-linear-gradient(top, #7db317, #527b00);
  background-image: linear-gradient(top, #7db317, #527b00);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#7db317', EndColorStr='#527b00');
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
  border:1px solid #527b00;
}

body a.button-white {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#efefef));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -moz-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -o-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -ms-linear-gradient(top, #f7f7f7, #efefef);
  background-image: linear-gradient(top, #f7f7f7, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f7f7', EndColorStr='#efefef');
  color: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
  border:1px solid #e0e0e0;
}

body a.button-gray {
  background-color: #858585;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#858585), to(#5b5b5b));
  background-image: -webkit-linear-gradient(top, #858585, #5b5b5b);
  background-image: -moz-linear-gradient(top, #858585, #5b5b5b);
  background-image: -o-linear-gradient(top, #858585, #5b5b5b);
  background-image: -ms-linear-gradient(top, #858585, #5b5b5b);
  background-image: linear-gradient(top, #858585, #5b5b5b);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#858585', EndColorStr='#5b5b5b');
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
  border:1px solid #5b5b5b;
}

body a.button-black {
  background-color: #505050;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#505050), to(#040404));
  background-image: -webkit-linear-gradient(top, #505050, #040404);
  background-image: -moz-linear-gradient(top, #505050, #040404);
  background-image: -o-linear-gradient(top, #505050, #040404);
  background-image: -ms-linear-gradient(top, #505050, #040404);
  background-image: linear-gradient(top, #505050, #040404);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#505050', EndColorStr='#040404');
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
  border:1px solid #000;
}
body a.button-purple {
  background-color: #8a4dc7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#8a4dc7), to(#4d2d7a));
  background-image: -webkit-linear-gradient(top, #8a4dc7, #4d2d7a);
  background-image: -moz-linear-gradient(top, #8a4dc7, #4d2d7a);
  background-image: -o-linear-gradient(top, #8a4dc7, #4d2d7a);
  background-image: -ms-linear-gradient(top, #8a4dc7, #4d2d7a);
  background-image: linear-gradient(top, #8a4dc7, #4d2d7a);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#8a4dc7', EndColorStr='#4d2d7a');
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  text-shadow: 0px 1px 1px #000;
  -webkit-box-shadow: 0px 1px 1px 0px #888;
  -moz-box-shadow: 0px 1px 1px 0px #888;
  box-shadow: 0px 1px 1px 0px #888;
  border:1px solid #8a4dc7;
}
body a.button-full {
  display: block;
  text-align: center;
}
body a.button:active,
body a.button-blue:active,
body a.button-orange:active,
body a.button-red:active,
body a.button-green:active,
body a.button-white:active,
body a.button-gray:active,
body a.button-black:active,
body a.button-purple:active {
  position: relative;
  top:1px;
}


/* EXPAND */
.expand-set {
  margin-bottom:1.5em;
}
a.expand-title {
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#efefef));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -moz-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -o-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -ms-linear-gradient(top, #f7f7f7, #efefef);
  background-image: linear-gradient(top, #f7f7f7, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f7f7', EndColorStr='#efefef');
  color: #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: block;
  padding: 5px 10px;
  
  border:1px solid #e0e0e0;

}
a.expand-title span {
  display: block;
  padding-left:20px;
}
a.expand-title span.expand {
  background-image: url(images/expand.png);
  background-position: left center;
  background-repeat: no-repeat;
}
a.expand-title span.collapse {
  background-image: url(images/collapse.png);
  background-position: left center;
  background-repeat: no-repeat;
}
.expand-content {
  margin:0 10px;
  padding:10px 20px;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#efefef));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -moz-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -o-linear-gradient(top, #f7f7f7, #efefef);
  background-image: -ms-linear-gradient(top, #f7f7f7, #efefef);
  background-image: linear-gradient(top, #f7f7f7, #efefef);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f7f7f7', EndColorStr='#efefef');
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border:1px solid #e0e0e0;
  border-top:none;
}
.expand-content p {
  margin: .75em 0;
}

/* ICON */
.icon-button {
  padding-left:25px;
}
.icon-size-small {
  font-size: 100%;
  margin-right:10px;
}
.icon-size-medium {
  font-size: 200%;
  float:left;
  margin-right: 10px;
  margin-top:10px;
}
.icon-size-large {
  font-size: 300%;
  float: left;
  margin-right: 10px;
  margin-top:10px;
}
.icon-size-xlarge {
  font-size: 400%;
  float: left;
  margin-right: 10px;
  margin-top:10px;
}

.icon-color-blue {
  color:#0072bc;
}

.icon-color-orange {
  color: #faa200;
}

.icon-color-green {
  color: #76b94d;
}

.icon-color-red {
  color:#bf3d2d;
}

.icon-color-black {
  color:#111111;
}


.icon-color-grey {
  color:#cccccc;
}
.icon-color-white {
  background-color: #f7f7f7;
}


/* SIDEBAR */
.mini-sidebar1 {
  font-size:110%;
}
.mini-sidebar-left {
  clear:left;
  float: left;
  width:40%;
  margin:0 20px 20px 0;
}
.mini-sidebar-border-left {
  border-right:2px solid #e5e5e5;
  padding: 0 20px;
}
.mini-sidebar-right {
  clear:right;
  float: right;
  width:40%;
  margin:0 0 20px 20px;
}
.mini-sidebar-border-right {
  border-left:2px solid #e5e5e5;
  padding: 0 20px;
}
.mini-sidebar p {
  margin:.75em 0;
}

/* TOOL TIP */

.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}
.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
